{% extends "base.html"%}
{% block title%} Home {%endblock%}
{% block content%} 

<h1 class="my-4">Posts</h1>
<div class="link">
    <a href="/createpost" >Make a Post</a>
</div>

<div class="container">
    {% for post in posts %}
   
    <div class="container posts-content">
        <div class="row">
                <div class="card mb-8">
                  <div class="card-body">
                    <div class="media mb-3">
                      <div class="media-body ml-3">
                        <a href="posts/{{post.user.username}}">{{post.user.username}}</a>
                        <div class="text-muted small">Created on: {{ post.date_created.strftime('%Y-%m-%d %H:%M') }}</div>
                      </div>
                    </div>
                <p>{{post.text}}</p>
                   
                    <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar3.png');"></a>
                  </div>
                  <div class="card-footer">
                    <a href="javascript:void(0)" class="d-inline-block text-muted">
                      <small class="align-middle">123 Likes</small>
                    </a>
                    <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                        <small class="align-middle">12 Comments</small>
                    </a>
                    <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                      <small class="align-middle">Repost</small>
                    </a>
                    {% if current_user == post.user %}
                    <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                        <form action="{{url_for('views.delete_post', post_id=post.id)}}" method="POST"
                        class="d-inline-block text-muted ml-3 form-group">
                        <button type="submit" class="btn d-md-flex justify-content-md-end"> Delete</button>
                     </form>
                    </a> 
                    {% endif %}
                    
                  </div>
                </div>
            </div>
        
    </div>
    {% endfor %}
</div>

<div class="loadmore text-center my-4">
    {% if posts.has_next %}
        <a href="{{ url_for('views.home', page=posts.next_num) }}" class="btn btn-outline-secondary">Load More</a>
    {% endif %}
</div>

{%endblock%}
