{% extends "base.html"%}
{% block title%} Home {%endblock%}
{% block nav%} 

    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/home" style="font-size: 33px; font-weight: 800;">Junior Blog</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/home">Home</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>
        {% endif %}
      </ul>

    <div class="container">
        {%with messages = get_flashed_messages(with_categories=True)%}
            {% if messages %}
                {%for category, message in messages%}
                    {% if category == "error" %}
                        <div class="flash-error">
                        {{message}}
                        </div>
                    {% else %}
                        <div class="flash-success">
                        {{message}}
                        </div>
                    {% endif %} 
                {%endfor%}
            {% endif %}
        {% endwith %}

{% endblock %}